div#images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div#image1, div#image2 {
    display: inline;
    zoom: 1.2;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    
    div#images {
        display: flex;
        flex-direction: column;
    }

    div#image1, div#image2 {
        display: inline-block;
        zoom: 1;
    }

    #image1, #image2 {
        display: flex;
        text-align: center;
    }

}